[submodule "tt"]
	path = tt
	url = https://github.com/gonsolo/tt-support-tools.git
	branch = main
[submodule "PeakRDL-chisel"]
	path = PeakRDL-chisel
	url = https://github.com/gonsolo/PeakRDL-chisel.git
[submodule "Vulkan-Tools"]
	path = Vulkan-Tools
	url = https://github.com/KhronosGroup/Vulkan-Tools.git
[submodule "mesa"]
	path = mesa
	url = git@github.com:gonsolo/mesa.git
	branch = borg
