SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=2.4 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_MODE=SPI_SERIAL;

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk_25mhz" SITE "G2"; IOBUF PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33; FREQUENCY PORT "clk_25mhz" 25 MHZ;

LOCATE COMP "flash_csn"   SITE "R2"; IOBUF PORT "flash_csn"   PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "flash_mosi"  SITE "W2"; IOBUF PORT "flash_mosi"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "flash_miso"  SITE "V2"; IOBUF PORT "flash_miso"  PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "flash_wpn"   SITE "Y2"; IOBUF PORT "flash_wpn"   PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "flash_holdn" SITE "W1"; IOBUF PORT "flash_holdn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "wifi_en"     SITE "F1"; IOBUF PORT "wifi_en"     PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "ftdi_rxd"   SITE "L4"; IOBUF PORT "ftdi_rxd"   PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "ftdi_txd"   SITE "M1"; IOBUF PORT "ftdi_txd"   PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "B2"; IOBUF PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[1]" SITE "C2"; IOBUF PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[2]" SITE "C1"; IOBUF PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[3]" SITE "D2"; IOBUF PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[4]" SITE "D1"; IOBUF PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[5]" SITE "E2"; IOBUF PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[6]" SITE "E1"; IOBUF PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[7]" SITE "H3"; IOBUF PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "gpdi_dp[0]" SITE "A16"; IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
LOCATE COMP "gpdi_dp[1]" SITE "A14"; IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
LOCATE COMP "gpdi_dp[2]" SITE "A12"; IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
LOCATE COMP "gpdi_dp[3]" SITE "A17"; IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D DRIVE=4;
