BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF  PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

LOCATE COMP "rst_n" SITE "D6";
IOBUF  PORT "rst_n" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# GPDI (HDMI) output
LOCATE COMP "gpdi_dp[0]" SITE "A16"; # Blue + HSync/VSync
LOCATE COMP "gpdi_dp[1]" SITE "A14"; # Green
LOCATE COMP "gpdi_dp[2]" SITE "A12"; # Red
LOCATE COMP "gpdi_dp[3]" SITE "A17"; # Clock

IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D DRIVE=4;

# LEDs
LOCATE COMP "led[0]" SITE "B2";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[6]" SITE "E1";
LOCATE COMP "led[7]" SITE "H3";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33 DRIVE=4;

# SDRAM
LOCATE COMP "sdram_clk" SITE "F19";
IOBUF  PORT "sdram_clk" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
LOCATE COMP "sdram_cke" SITE "F20";
IOBUF  PORT "sdram_cke" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_csn" SITE "P20";
IOBUF  PORT "sdram_csn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_wen" SITE "T20";
IOBUF  PORT "sdram_wen" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_rasn" SITE "R20";
IOBUF  PORT "sdram_rasn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_casn" SITE "T19";
IOBUF  PORT "sdram_casn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "sdram_a[0]" SITE "M20";
IOBUF  PORT "sdram_a[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[1]" SITE "M19";
IOBUF  PORT "sdram_a[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[2]" SITE "L20";
IOBUF  PORT "sdram_a[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[3]" SITE "L19";
IOBUF  PORT "sdram_a[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[4]" SITE "K20";
IOBUF  PORT "sdram_a[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[5]" SITE "K19";
IOBUF  PORT "sdram_a[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[6]" SITE "K18";
IOBUF  PORT "sdram_a[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[7]" SITE "J20";
IOBUF  PORT "sdram_a[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[8]" SITE "J19";
IOBUF  PORT "sdram_a[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[9]" SITE "H20";
IOBUF  PORT "sdram_a[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[10]" SITE "N19";
IOBUF  PORT "sdram_a[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[11]" SITE "G20";
IOBUF  PORT "sdram_a[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[12]" SITE "G19";
IOBUF  PORT "sdram_a[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "sdram_ba[0]" SITE "P19";
IOBUF  PORT "sdram_ba[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_ba[1]" SITE "N20";
IOBUF  PORT "sdram_ba[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "sdram_dqm[0]" SITE "U19";
IOBUF  PORT "sdram_dqm[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_dqm[1]" SITE "E20";
IOBUF  PORT "sdram_dqm[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "sdram_d_0" SITE "J16";
IOBUF  PORT "sdram_d_0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_1" SITE "L18";
IOBUF  PORT "sdram_d_1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_2" SITE "M18";
IOBUF  PORT "sdram_d_2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_3" SITE "N18";
IOBUF  PORT "sdram_d_3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_4" SITE "P18";
IOBUF  PORT "sdram_d_4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_5" SITE "T18";
IOBUF  PORT "sdram_d_5" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_6" SITE "T17";
IOBUF  PORT "sdram_d_6" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_7" SITE "U20";
IOBUF  PORT "sdram_d_7" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_8" SITE "E19";
IOBUF  PORT "sdram_d_8" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_9" SITE "D20";
IOBUF  PORT "sdram_d_9" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_10" SITE "D19";
IOBUF  PORT "sdram_d_10" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_11" SITE "C20";
IOBUF  PORT "sdram_d_11" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_12" SITE "E18";
IOBUF  PORT "sdram_d_12" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_13" SITE "F18";
IOBUF  PORT "sdram_d_13" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_14" SITE "J18";
IOBUF  PORT "sdram_d_14" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d_15" SITE "J17";
IOBUF  PORT "sdram_d_15" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
