SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=2.4 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_MODE=SPI_SERIAL;

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk_25mhz" SITE "G2"; IOBUF PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33; FREQUENCY PORT "clk_25mhz" 25 MHZ;

LOCATE COMP "ftdi_rxd" SITE "L4"; IOBUF PORT "ftdi_rxd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "ftdi_txd" SITE "M1"; IOBUF PORT "ftdi_txd" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "B2"; IOBUF PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[1]" SITE "C2"; IOBUF PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[2]" SITE "C1"; IOBUF PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[3]" SITE "D2"; IOBUF PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[4]" SITE "D1"; IOBUF PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[5]" SITE "E2"; IOBUF PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[6]" SITE "E1"; IOBUF PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[7]" SITE "H3"; IOBUF PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# ── dn_out / up_in: bit index -> physical pin, matching ULX3S.scala's
# ULX3SPins.linkExternalPins one-for-one. dn_out is driven, up_in is read
# back with PULLMODE=DOWN so a disconnected wire reads a clean 0.

# bit 0-10: J1 pins 0-10 -- dn_d[0..10] / up_d[0..10]
LOCATE COMP "dn_out[0]"  SITE "B11"; IOBUF PORT "dn_out[0]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[0]"   SITE "C11"; IOBUF PORT "up_in[0]"   PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[1]"  SITE "A10"; IOBUF PORT "dn_out[1]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[1]"   SITE "A11"; IOBUF PORT "up_in[1]"   PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[2]"  SITE "A9";  IOBUF PORT "dn_out[2]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[2]"   SITE "B10"; IOBUF PORT "up_in[2]"   PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[3]"  SITE "B9";  IOBUF PORT "dn_out[3]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[3]"   SITE "C10"; IOBUF PORT "up_in[3]"   PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[4]"  SITE "A7";  IOBUF PORT "dn_out[4]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[4]"   SITE "A8";  IOBUF PORT "up_in[4]"   PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[5]"  SITE "C8";  IOBUF PORT "dn_out[5]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[5]"   SITE "B8";  IOBUF PORT "up_in[5]"   PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[6]"  SITE "C6";  IOBUF PORT "dn_out[6]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[6]"   SITE "C7";  IOBUF PORT "up_in[6]"   PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[7]"  SITE "A6";  IOBUF PORT "dn_out[7]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[7]"   SITE "B6";  IOBUF PORT "up_in[7]"   PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[8]"  SITE "A4";  IOBUF PORT "dn_out[8]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[8]"   SITE "A5";  IOBUF PORT "up_in[8]"   PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[9]"  SITE "A2";  IOBUF PORT "dn_out[9]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[9]"   SITE "B1";  IOBUF PORT "up_in[9]"   PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[10]" SITE "C4";  IOBUF PORT "dn_out[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[10]"  SITE "B4";  IOBUF PORT "up_in[10]"  PULLMODE=DOWN IO_TYPE=LVCMOS33;

# bit 11-15: J2 pins 14-18 -- dn_d[11..15] / up_d[11..15]
LOCATE COMP "dn_out[11]" SITE "U18"; IOBUF PORT "dn_out[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[11]"  SITE "U17"; IOBUF PORT "up_in[11]"  PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[12]" SITE "N17"; IOBUF PORT "dn_out[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[12]"  SITE "P16"; IOBUF PORT "up_in[12]"  PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[13]" SITE "N16"; IOBUF PORT "dn_out[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[13]"  SITE "M17"; IOBUF PORT "up_in[13]"  PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[14]" SITE "L16"; IOBUF PORT "dn_out[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[14]"  SITE "L17"; IOBUF PORT "up_in[14]"  PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[15]" SITE "H18"; IOBUF PORT "dn_out[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[15]"  SITE "H17"; IOBUF PORT "up_in[15]"  PULLMODE=DOWN IO_TYPE=LVCMOS33;

# bit 16-19: J2 pins 19-22 -- dn_v/up_v, dn_p/up_p, dn_cred/up_cred, far_link_up/link_up_loop
LOCATE COMP "dn_out[16]" SITE "F17"; IOBUF PORT "dn_out[16]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[16]"  SITE "G18"; IOBUF PORT "up_in[16]"  PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[17]" SITE "D18"; IOBUF PORT "dn_out[17]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[17]"  SITE "E17"; IOBUF PORT "up_in[17]"  PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[18]" SITE "C18"; IOBUF PORT "dn_out[18]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[18]"  SITE "D17"; IOBUF PORT "up_in[18]"  PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "dn_out[19]" SITE "B15"; IOBUF PORT "dn_out[19]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "up_in[19]"  SITE "C15"; IOBUF PORT "up_in[19]"  PULLMODE=DOWN IO_TYPE=LVCMOS33;
