SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=2.4 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_MODE=SPI_SERIAL;

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk_25mhz" SITE "G2"; IOBUF PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33; FREQUENCY PORT "clk_25mhz" 25 MHZ;

LOCATE COMP "ftdi_rxd" SITE "L4"; IOBUF PORT "ftdi_rxd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "ftdi_txd" SITE "M1"; IOBUF PORT "ftdi_txd" PULLMODE=UP IO_TYPE=LVCMOS33;

# Derived from out/ulx3s/verilog_padloop/ulx3s.lpf so this test provably
# exercises the same sites the real BorgPadLoop build uses.

# bit 0: pl_dn_d_out[0] (B11) -> pl_dn_d_in[0] (C11)
LOCATE COMP "pl_out[0]" SITE "B11"; IOBUF PORT "pl_out[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[0]" SITE "C11"; IOBUF PORT "pl_in[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 1: pl_dn_d_out[1] (A10) -> pl_dn_d_in[1] (A11)
LOCATE COMP "pl_out[1]" SITE "A10"; IOBUF PORT "pl_out[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[1]" SITE "A11"; IOBUF PORT "pl_in[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 2: pl_dn_d_out[2] (A9) -> pl_dn_d_in[2] (B10)
LOCATE COMP "pl_out[2]" SITE "A9"; IOBUF PORT "pl_out[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[2]" SITE "B10"; IOBUF PORT "pl_in[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 3: pl_dn_d_out[3] (B9) -> pl_dn_d_in[3] (C10)
LOCATE COMP "pl_out[3]" SITE "B9"; IOBUF PORT "pl_out[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[3]" SITE "C10"; IOBUF PORT "pl_in[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 4: pl_dn_d_out[4] (A7) -> pl_dn_d_in[4] (A8)
LOCATE COMP "pl_out[4]" SITE "A7"; IOBUF PORT "pl_out[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[4]" SITE "A8"; IOBUF PORT "pl_in[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 5: pl_dn_d_out[5] (C8) -> pl_dn_d_in[5] (B8)
LOCATE COMP "pl_out[5]" SITE "C8"; IOBUF PORT "pl_out[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[5]" SITE "B8"; IOBUF PORT "pl_in[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 6: pl_dn_d_out[6] (C6) -> pl_dn_d_in[6] (C7)
LOCATE COMP "pl_out[6]" SITE "C6"; IOBUF PORT "pl_out[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[6]" SITE "C7"; IOBUF PORT "pl_in[6]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 7: pl_dn_d_out[7] (A6) -> pl_dn_d_in[7] (B6)
LOCATE COMP "pl_out[7]" SITE "A6"; IOBUF PORT "pl_out[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[7]" SITE "B6"; IOBUF PORT "pl_in[7]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 8: pl_dn_v_out (A4) -> pl_dn_v_in (A5)
LOCATE COMP "pl_out[8]" SITE "A4"; IOBUF PORT "pl_out[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[8]" SITE "A5"; IOBUF PORT "pl_in[8]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 9: pl_dn_p_out (A2) -> pl_dn_p_in (B1)
LOCATE COMP "pl_out[9]" SITE "A2"; IOBUF PORT "pl_out[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[9]" SITE "B1"; IOBUF PORT "pl_in[9]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 10: pl_upcred_out (C4) -> pl_upcred_in (B4)
LOCATE COMP "pl_out[10]" SITE "C4"; IOBUF PORT "pl_out[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[10]" SITE "B4"; IOBUF PORT "pl_in[10]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 11: pl_up_d_out[0] (U18) -> pl_up_d_in[0] (U17)
LOCATE COMP "pl_out[11]" SITE "U18"; IOBUF PORT "pl_out[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[11]" SITE "U17"; IOBUF PORT "pl_in[11]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 12: pl_up_d_out[1] (N17) -> pl_up_d_in[1] (P16)
LOCATE COMP "pl_out[12]" SITE "N17"; IOBUF PORT "pl_out[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[12]" SITE "P16"; IOBUF PORT "pl_in[12]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 13: pl_up_d_out[2] (N16) -> pl_up_d_in[2] (M17)
LOCATE COMP "pl_out[13]" SITE "N16"; IOBUF PORT "pl_out[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[13]" SITE "M17"; IOBUF PORT "pl_in[13]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 14: pl_up_d_out[3] (L16) -> pl_up_d_in[3] (L17)
LOCATE COMP "pl_out[14]" SITE "L16"; IOBUF PORT "pl_out[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[14]" SITE "L17"; IOBUF PORT "pl_in[14]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 15: pl_up_d_out[4] (H18) -> pl_up_d_in[4] (H17)
LOCATE COMP "pl_out[15]" SITE "H18"; IOBUF PORT "pl_out[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[15]" SITE "H17"; IOBUF PORT "pl_in[15]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 16: pl_up_d_out[5] (F17) -> pl_up_d_in[5] (G18)
LOCATE COMP "pl_out[16]" SITE "F17"; IOBUF PORT "pl_out[16]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[16]" SITE "G18"; IOBUF PORT "pl_in[16]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 17: pl_up_d_out[6] (D18) -> pl_up_d_in[6] (E17)
LOCATE COMP "pl_out[17]" SITE "D18"; IOBUF PORT "pl_out[17]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[17]" SITE "E17"; IOBUF PORT "pl_in[17]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 18: pl_up_d_out[7] (C18) -> pl_up_d_in[7] (D17)
LOCATE COMP "pl_out[18]" SITE "C18"; IOBUF PORT "pl_out[18]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[18]" SITE "D17"; IOBUF PORT "pl_in[18]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 19: pl_up_v_out (B15) -> pl_up_v_in (C15)
LOCATE COMP "pl_out[19]" SITE "B15"; IOBUF PORT "pl_out[19]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[19]" SITE "C15"; IOBUF PORT "pl_in[19]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 20: pl_up_p_out (B17) -> pl_up_p_in (C17)
LOCATE COMP "pl_out[20]" SITE "B17"; IOBUF PORT "pl_out[20]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[20]" SITE "C17"; IOBUF PORT "pl_in[20]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 21: pl_dncred_out (C16) -> pl_dncred_in (D16)
LOCATE COMP "pl_out[21]" SITE "C16"; IOBUF PORT "pl_out[21]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[21]" SITE "D16"; IOBUF PORT "pl_in[21]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
# bit 22: pl_linkup_out (D14) -> pl_linkup_in (E14)
LOCATE COMP "pl_out[22]" SITE "D14"; IOBUF PORT "pl_out[22]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pl_in[22]" SITE "E14"; IOBUF PORT "pl_in[22]" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "B2"; IOBUF PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[1]" SITE "C2"; IOBUF PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[2]" SITE "C1"; IOBUF PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[3]" SITE "D2"; IOBUF PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[4]" SITE "D1"; IOBUF PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[5]" SITE "E2"; IOBUF PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[6]" SITE "E1"; IOBUF PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[7]" SITE "H3"; IOBUF PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
