name: gds

on:
  push:
  workflow_dispatch:

jobs:
  gds:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build GDS
        uses: TinyTapeout/tt-gds-action@ttihp26a
        with:
          pdk: ihp-sg13g2
          librelane-version: 3.0.0.dev44

  precheck:
    needs: gds
    runs-on: ubuntu-24.04
    steps:
      - name: Run Tiny Tapeout Precheck
        uses: TinyTapeout/tt-gds-action/precheck@ttihp26a

  gl_test:
    needs: gds
    strategy:
      matrix:
        target:
          - core
          - prog
          - peri_num_2
          - peri_num_3
          - peri_num_4
          - peri_num_5
          - peri_num_6
          - peri_num_7
          - peri_num_8
          - peri_num_9
          - peri_num_10
          - peri_num_11
          - peri_num_12
          - peri_num_13
          - peri_num_14
          - peri_num_15
          - peri_num_16
          - peri_num_17
          - peri_num_18
          - peri_num_19
          - peri_num_20
          - peri_num_21
          - peri_num_22
          - peri_num_23
          - peri_num_24
          - peri_num_25
          - peri_num_26
          - peri_num_27
          - peri_num_28
          - peri_num_29
          - peri_num_30
          - peri_num_31
          - peri_num_32
          - peri_num_33
          - peri_num_34
          - peri_num_35
          - peri_num_36
          - peri_num_37
          - peri_num_38
          - peri_num_39
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: GL test
        uses: TinyTapeout/tt-gds-action/gl_test@ttihp26a

  viewer:
    needs: gds
    runs-on: ubuntu-24.04
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    steps:
      - uses: TinyTapeout/tt-gds-action/viewer@ttihp26a
